Repository jorduino/ts-template: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, markdownlint

fix: fixed issue with commitlint
  .github/workflows/ci.yml
  commitlint.config.js
Due: bun run lint

chore: improve template configuration and documentation
  .gitignore
  .husky/commit-msg
  .markdownlint.json
  README.md
  biome.jsonc
  package.json
Due: markdownlint

fix(ci): add fetch-depth to fix pr ci
  .github/workflows/ci.yml
Due: none

chore: update commitlint to ignore initial commit
  CLAUDE.md
  commitlint.config.js
Due: bun run lint, markdownlint

chore: fix formatting
  bun.lock
  commitlint.config.js
Due: bun run lint

fix: fixed issue with 'bun start' script
  package.json
Due: none

feat: added capability to use with bun create
  README.md
  biome.jsonc
  bun.lock
  package.json
  setup/setup.ts
Due: bun run lint, markdownlint

fix: use npm postinstall lifecycle for setup wizard and fix version validation
  package.json
  setup/setup.ts
Due: bun run lint

feat: add dev script with hot reloading
  package.json
Due: none

fix: exit with error on cancel and amend initial commit after setup
  setup/setup.ts
Due: bun run lint

chore: rename commitlint.config.js to commitlint.config.ts
  commitlint.config.ts
Due: bun run lint

Path conditions:
  bun run lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  markdownlint: any of: *.md
